<div class="delivery-address-container">
  <div class="wrapper">
    <div class="card address-card">
      <div class="header">
        <p class="title">Delivery Address</p>
      </div>
      <div class="content">
        <div class="btn-grp">
          <button mat-icon-button class="btn icon-btn">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button class="btn icon-btn">
            <mat-icon>edit</mat-icon>
          </button>
          <address></address>
        </div>

        <address>
          <p class="name">Name: <span>Navneet Kumar</span></p>
          <p class="mobile">Mobile: <span>7007189989</span></p>
          <p class="flat">Flat No.: <span>301</span></p>
          <p class="building">Building Name: <span>Apurva Apartment</span></p>
          <p class="landmark">Landmark: <span>Near Shiv Sagar Hotel</span></p>
          <p class="area">Area: <span>Dutta Colony, Vishal Nagar</span></p>
          <p class="city">City: <span>Pune</span></p>
          <p class="state">State: <span>Maharashtra</span></p>
          <p class="country">Country: <span>India</span></p>
          <p class="pincode">Pincode: <span>411027</span></p>
        </address>
      </div>
    </div>
  </div>
</div>
