.app-container {
  height: 100%;
  position: relative;

  .my-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .router-container {
    margin-top: 3.6rem;
    height: 100%;
  }
}
