<ng-template [ngIf]="modalStatus">
  <div class="my-modal-container">
    <button mat-icon-button class="btn icon-btn close-btn" (click)="toggleModal();">
      <mat-icon>close</mat-icon>
    </button>
    <div class="my-modal-card my-modal-xl">
      <div class="content">
        <app-product-preview [product]="selectedProduct"></app-product-preview>
      </div>
    </div>
  </div>
</ng-template>

<div class="cart-items-container">
  <ng-container *ngIf="products.length === 0; else productTemplate">
    <div class="no-product-panel">
      <h5>No products in your cart.</h5>
      Start shopping
      <a routerLink="/">Home</a>
    </div>
  </ng-container>
  <ng-template #productTemplate>
    <div class="my-table-container">
      <mat-form-field class="search-field">
        <mat-label>Search products</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>

      <div class="mat-elevation-z8 table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row" style="text-align: left !important;width: 50%;padding-right: 2rem;">
              <div class="info-panel">
                <div class="row">
                  <div class="col-4">
                    <img class="product-img" [src]="row?.image" />
                  </div>
                  <div class="col-8">
                    <p class="product-title" (click)="previewProduct(row);">{{row?.name}}</p>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="price per unit">
            <th mat-header-cell *matHeaderCellDef> Price/Unit </th>
            <td mat-cell *matCellDef="let row"> &#x20B9; {{row?.sellingPrice}} </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let row"> 1 </td>
          </ng-container>

          <ng-container matColumnDef="total amount">
            <th mat-header-cell *matHeaderCellDef> Total Amount </th>
            <td mat-cell *matCellDef="let row" style="color: blue;"> &#x20B9; {{ row?.sellingPrice }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="btn icon-btn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
    </div>
  </ng-template>
</div>
