.my-modal-container {
  .close-btn {
    float: right;
    cursor: pointer;
    margin: 0 1.1rem;
  }
}

.home-container {
  .banner-wrapper {
    figure {}
  }

  .card-img {
    cursor: pointer;
  }
}
